# Ignore virtual environment
backend/venv/
venv/

# Ignore downloaded media files
backend/downloads/
*.mp4
*.webm
*.m4a
*.mp3

# Ignore sensitive credentials & cookies
backend/cookies.txt
cookies.txt

# Ignore Python cache files
__pycache__/
*.pyc